<div class="reservation-card" {{ attributes }}>
<!-- nakon podnošenja forme, korisnik će biti preusmjeren na stranicu za potvrdu -->
    {% form_theme form 'form/_errors_below_layout.html.twig' %}
    {{ form_start(form, {'action': path('reservation_submit'), 'method': 'POST'}) }}

    <div class="reservation-layout">
        <div class="form-main">
            <div class="form-row">
                <div>
                    {{ form_row(form.partySize) }}
                </div>
                <div>
                    {{ form_row(form.date) }}
                </div>
            </div>

            <div class="form-row">
                {% if form.timeSlot is defined %}
                    <div>
                        {{ form_row(form.timeSlot) }}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="private-side">
            {% if form.isPrivate is defined %}
                {{ form_row(form.isPrivate) }}
            {% endif %}
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>